@model BusReservationSystem.Models.UserReg
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:firebrick;margin-bottom:0px">
        <img style="width:30px;height:30px;" src="~/Images/logo.png" />
        <a style="font-size:30px;font-weight:bold;color:white" class="navbar-brand" href="#">Global Bus Seva</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="font-size:20px;font-weight:bold">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li style="font-size:15px" class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li style="font-size:15px" class="nav-item active">
                    <a class="nav-link" href="#">Terms of Use</a>
                </li>
                <li style="font-size:15px" class="nav-item active">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right" style="color:white;float:right">
                <li style="margin: 10px; font-size: 15px"><span class="glyphicon glyphicon-user"></span>Hi, @ViewData["FirstName"]</li>
                <li style="margin: 10px; font-size: 15px"><a style="color:white" href="@Url.Action("HomePage", "Home")"><span class="glyphicon glyphicon-log-in"></span>SignOut</a></li>
                <li style="margin: 10px; font-size: 15px"><a style="color:white" href="@Url.Action("DashBoard", "AuthUserUI", Model)"><span class="glyphicon glyphicon-log-in"></span>DashBoard</a></li>
            </ul>
        </div>
    </nav>
    <form style="border:1px solid black;width:30%;height:30%;margin-left:34%;margin-top:10%;padding:20px;background-color:blanchedalmond;font-size:15px; text-align:center" method="post">
        <table>
            <tr>
                <th>sl No.</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
                <th>No of Passengers</th>
                <th>Cancel??</th>
            </tr>
            @{ List<BusReservationSystem.Models.Booking> bookings = (List<BusReservationSystem.Models.Booking>)ViewData["Bookings"];
            @if (bookings.Count>0)
            {
                List<BusReservationSystem.Models.Schedule> schedules = (List<BusReservationSystem.Models.Schedule>)ViewData["Schedules"];
                List<BusReservationSystem.Models.Route> routes = (List<BusReservationSystem.Models.Route>)ViewData["Routes"];

                @for (int i = 0; i < bookings.Count; i++)
                {
                    <tr>
                        <td>@(i + 1) &nbsp;&nbsp;&nbsp;</td>
                        <td>@routes[i].Arrive &nbsp;&nbsp;&nbsp;</td>
                        <td>@routes[i].Dest &nbsp;&nbsp;&nbsp;</td>
                        <td>@schedules[i].JrnyDate.Date &nbsp;&nbsp;&nbsp;</td>
                        <td>@bookings[i].Npassengers &nbsp;&nbsp;&nbsp;</td>
                        @if (schedules[i].JrnyDate.Date < DateTime.Now.Date)
                        {
                            <td><button>@Html.ActionLink("Cancel", "Cancel", "AuthUserUI", new { bookings[i].BookId })</button></td>
                        }
                        else
                        {
                            <td><button disabled>Cancel</button></td>
                        }
                    </tr>
                }
            }
                }
        </table>

    </form>

</div>