@model List<BusReservationSystem.Models.BusScheduleJoin>
    @{
        BusReservationSystem.Models.UserReg user = (BusReservationSystem.Models.UserReg)ViewData["User"];
    @if (user.FirstName != null)
    {

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:firebrick;margin-bottom:0px">
            <img style="width:30px;height:30px;" src="~/Images/logo.png" />
            <a style="font-size:30px;font-weight:bold;color:white" class="navbar-brand" href="#">Global Bus Seva</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="font-size:20px;font-weight:bold">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li style="font-size:15px" class="nav-item active">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li style="font-size:15px" class="nav-item active">
                        <a class="nav-link" href="#">Terms of Use</a>
                    </li>
                    <li style="font-size:15px" class="nav-item active">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right" style="color:white;float:right">
                    <li style="margin: 10px; font-size: 15px"><span class="glyphicon glyphicon-user"></span>Hi, @user.FirstName</li>
                    <li style="margin: 10px; font-size: 15px"><a style="color:white" href="@Url.Action("HomePage", "Home")"><span class="glyphicon glyphicon-log-in"></span>SignOut</a></li>
                    <li style="margin: 10px; font-size: 15px"><a style="color:white" href="@Url.Action("DashBoard", "AuthUserUI", user)"><span class="glyphicon glyphicon-log-in"></span>DashBoard</a></li>
                </ul>
            </div>
        </nav>
        }
    }

    else
    {


        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:firebrick;margin-bottom:0px">
            <img style="width:30px;height:30px;" src="~/Images/logo.png" />
            <a style="font-size:30px;font-weight:bold;color:white" class="navbar-brand" href="#">Global Bus Seva</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="font-size:20px;font-weight:bold">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li style="font-size:15px" class="nav-item active">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li style="font-size:15px" class="nav-item active">
                        <a class="nav-link" href="#">Terms of Use</a>
                    </li>
                    <li style="font-size:15px" class="nav-item active">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right" style="color:white;float:right">
                    <li style="margin: 10px; font-size: 15px"><a style="color:white" href="@Url.Action("RegisterPage", "UserRegUI")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li style="margin: 10px; font-size: 15px"><a style="color:white" href="@Url.Action("Login", "AuthUserUI")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    }
    <form style="border:1px solid black;width:30%;height:30%;margin-left:34%;margin-top:10%;padding:20px;background-color:blanchedalmond;font-size:15px; text-align:center" method="post">

        <table>
            <tr>
                <th>Bus Name</th>
                <th>Journey Date</th>
                <th>Seat Available</th>
                <th>Fare</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Book???</th>
            </tr>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.BusName</td>
                    <td>@m.JourneyDate</td>
                    <td>@m.SeatAvail</td>
                    <td>@m.Fare</td>
                    <td></td>
                    <td><button>@Html.ActionLink("Book", "Book", "TicketUI", new { schId = @m.ScheduleId, UserId = ViewData["UserId"].ToString() })</button></td>
                </tr>
            }
        </table>
    </form>
    <footer style="position:absolute;bottom:1px;width:100%;height:50px;background-color:darkgrey">

        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://globallogic.com/"> GlobalBusSeva.com</a>
        </div>
    </footer>
